// Color
$color-primary: pink;
$color-white: #fff;
$color-black: #000;
$color-gray: #666;

// Font size
$fz1: 12px;
$fz2: 14px;
$fz3: 18px;
$fz4: 23px;

// Font weight
$fw1: 300;
$fw2: 500;
$fw3: 700;